@charset "UTF-8";
/* default-color */
/* 기본컬러 */
/* 글씨 색상 */
/* 반응형 */
/* 폰트 */
/* 사이즈 */
/* FLEX */
/******************** Reset.css ***********************/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
html, body {
  line-height: 1;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  display: inline-block;
  user-select: none;
}

a {
  display: inline-block;
}
a:link, a:visited, a:active, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

/******************** Base ***********************/
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.img {
  width: 100%;
}

.w100 {
  width: 100%;
}

.imgx {
  max-width: 100%;
}

.mw100 {
  max-width: 100%;
}

.fa {
  line-height: 1;
}

.ratio-bg {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination * {
  outline: none;
  cursor: pointer;
}

.btn {
  color: #fff !important;
}

html, body {
  font-family: "Oswald", sans-serif;
}

.gnb-wrapper {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
.gnb-wrapper > section {
  width: 100%;
  height: 100%;
  transform-origin: left bottom;
  transition: transform 2s;
}
.gnb-wrapper > section.active {
  transform: rotate(-180deg);
}

section.main {
  z-index: 10;
  transform-origin: left bottom;
}
section.main .gradient-wrapper {
  background: linear-gradient(135deg, #C6FFDD, #FBD786, #f7797d);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section.main .gradient-wrapper .black-wrapper {
  margin: 1%;
  width: 98%;
  height: 96%;
  position: relative;
  display: grid;
  gap: 2px;
  grid-template-areas: "menu title title title title title" "menu port port port scroll scroll" "menu port port port scroll scroll" "menu port port port next next";
}
@media screen and (max-width: 575px) {
  section.main .gradient-wrapper .black-wrapper {
    grid-template-areas: "menu title title title" "menu port port port" "menu port port port" "menu port port port" "menu port port port" "menu next next next";
  }
}
section.main .gradient-wrapper .black-wrapper .black-div {
  background-color: rgba(0, 0, 0, 0.85);
  transition: all 0.5s;
}
section.main .gradient-wrapper .black-wrapper .black-div:hover {
  border-radius: 3vw;
}
section.main .gradient-wrapper .black-wrapper .black-div:hover .port-wrap .block {
  transform: translateX(-30px);
}
section.main .gradient-wrapper .black-wrapper .menu-wrap {
  grid-area: menu;
  position: relative;
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .logo-wrap {
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 50%;
  color: #607b5a;
  font-size: 3vw;
  font-weight: 700;
  line-height: 1.1;
  padding: 0.5em 0.8em;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 2vh;
}
@media screen and (max-width: 575px) {
  section.main .gradient-wrapper .black-wrapper .menu-wrap .logo-wrap {
    font-size: 3.5vw;
    padding: 1em 1.2em;
  }
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #f9f9f9;
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  section.main .gradient-wrapper .black-wrapper .menu-wrap .menu {
    font-size: 3vw;
  }
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .menu li {
  margin: 6vh 0;
  transition: all 0.5s ease-out;
  background-image: linear-gradient(to left, rgba(34, 255, 204, 0) 50%, #82322d 50%);
  background-position: 99%;
  background-size: 200%;
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .menu li:hover {
  background-position: 0;
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .menu li::before {
  display: inline-block;
  content: "";
  background-color: #f9f9f9;
  width: 0.7vw;
  height: 3.2vh;
  margin-right: 1.5vw;
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .page {
  position: absolute;
  color: #bbb;
  font-size: 1vw;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  bottom: 0;
  right: 0;
  margin: 2vh 1vw;
  overflow: hidden;
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .page .pre {
  font-size: 3vw;
  padding-right: 1.5vh;
  border-right: 1px solid rgba(34, 255, 204, 0.3);
  transition: all 0.5s;
  transform: translateY(-300%);
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .page .after {
  padding-left: 0.7vw;
  transition: all 0.5s;
  transform: translateY(300%);
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .page:hover .pre {
  transform: translateY(0);
}
section.main .gradient-wrapper .black-wrapper .menu-wrap .page:hover .after {
  transform: translateY(0);
}
section.main .gradient-wrapper .black-wrapper .title-wrap {
  grid-area: title;
  position: relative;
}
section.main .gradient-wrapper .black-wrapper .title-wrap .block {
  position: absolute;
  width: 13.5vw;
  height: 2vh;
  background-color: #607b5a;
  left: 12.5vw;
}
section.main .gradient-wrapper .black-wrapper .title-wrap .title {
  position: absolute;
  font-size: 7vw;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0 0 2.5vw;
  color: #f9f9f9;
  font-weight: 500;
}
@media screen and (max-width: 575px) {
  section.main .gradient-wrapper .black-wrapper .title-wrap .title {
    font-size: 12vw;
  }
}
section.main .gradient-wrapper .black-wrapper .title-wrap .time {
  position: absolute;
  -webkit-text-stroke: 2px #7b9775;
  color: rgba(0, 0, 0, 0);
  font-size: 7vw;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 3vw;
}
section.main .gradient-wrapper .black-wrapper .port-wrap {
  grid-area: port;
  position: relative;
}
section.main .gradient-wrapper .black-wrapper .port-wrap ul {
  position: absolute;
  color: #f9f9f9;
  font-size: 5vw;
  font-weight: 400;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 575px) {
  section.main .gradient-wrapper .black-wrapper .port-wrap ul {
    font-size: 10vw;
  }
}
section.main .gradient-wrapper .black-wrapper .port-wrap ul li {
  text-align: end;
  margin: 7vh 0;
}
section.main .gradient-wrapper .black-wrapper .port-wrap ul li h3 {
  transition: all 1s;
  padding-left: 7.5vw;
  cursor: pointer;
}
section.main .gradient-wrapper .black-wrapper .port-wrap ul li h3::after {
  position: absolute;
  content: url(../img/arrow-right.png);
  opacity: 0;
  transition: all 0.35s;
}
section.main .gradient-wrapper .black-wrapper .port-wrap ul li h3:hover {
  transform: translateX(3vw);
}
section.main .gradient-wrapper .black-wrapper .port-wrap ul li h3:hover::after {
  opacity: 1;
}
section.main .gradient-wrapper .black-wrapper .port-wrap ul li p {
  font-size: 0.7vw;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 7.5vw;
  border-top: 1px solid #22ffcc;
}
section.main .gradient-wrapper .black-wrapper .port-wrap .block {
  position: absolute;
  width: 11vw;
  height: 1.75vh;
  background-color: #607b5a;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 575px) {
  section.main .gradient-wrapper .black-wrapper .port-wrap .block {
    display: none;
  }
}
section.main .gradient-wrapper .black-wrapper .scroll-wrap {
  grid-area: scroll;
  position: relative;
}
@media screen and (max-width: 575px) {
  section.main .gradient-wrapper .black-wrapper .scroll-wrap {
    display: none;
  }
}
section.main .gradient-wrapper .black-wrapper .scroll-wrap h3 {
  position: absolute;
  -webkit-text-stroke: 1px #f9f9f9;
  color: rgba(0, 0, 0, 0);
  font-size: 4vw;
  z-index: 3;
}
section.main .gradient-wrapper .black-wrapper .scroll-wrap .block {
  position: absolute;
  width: 13vw;
  height: 6vh;
  background-color: rgba(40, 19, 21, 0.8);
  z-index: 2;
  top: 5%;
}
section.main .gradient-wrapper .black-wrapper .scroll-wrap .video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
}
section.main .gradient-wrapper .black-wrapper .scroll-wrap .video:hover {
  border-radius: 3vw;
}
section.main .gradient-wrapper .black-wrapper .scroll-wrap .video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
section.main .gradient-wrapper .black-wrapper .next-wrap {
  grid-area: next;
  position: relative;
  cursor: pointer;
}
section.main .gradient-wrapper .black-wrapper .next-wrap img {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 3vw;
  background-color: #e43e3b;
  transition: all 0.5s;
}
section.main .gradient-wrapper .black-wrapper .next-wrap img:hover {
  padding: 6vw 0 0 6vw;
}

section.skill {
  z-index: 9;
}
section.skill .gradient-wrapper {
  background: linear-gradient(135deg, #C6FFDD, #FBD786, #f7797d);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section.skill .gradient-wrapper .black-wrapper {
  margin: 1%;
  width: 98%;
  height: 96%;
  position: relative;
  background-color: black;
}
section.skill .gradient-wrapper .black-wrapper .navi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  color: #bbb;
  padding: 5vh 0;
  font-size: 1vw;
  cursor: pointer;
}
section.skill .gradient-wrapper .black-wrapper .navi .about {
  padding-right: 3vw;
}
section.skill .gradient-wrapper .black-wrapper .navi .about::before {
  padding-right: 1vw;
  content: "<";
}
section.skill .gradient-wrapper .black-wrapper .navi .skill {
  padding: 2vh 1vw;
  font-size: 3vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
section.skill .gradient-wrapper .black-wrapper .navi .portfolio {
  padding-left: 3vw;
}
section.skill .gradient-wrapper .black-wrapper .navi .portfolio::after {
  padding-left: 1vw;
  content: ">";
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 6%;
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper ul.skill-wrap {
  display: inline-block;
  width: 25%;
  height: 50%;
  margin-left: 10vw;
  color: #bbb;
  font-size: 4vw;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  section.skill .gradient-wrapper .black-wrapper .skill-wrapper ul.skill-wrap {
    width: 50%;
    margin-top: 10%;
    height: 20%;
    border: 1px solid #ccc;
  }
}
@media screen and (max-width: 575px) {
  section.skill .gradient-wrapper .black-wrapper .skill-wrapper ul.skill-wrap {
    margin-top: 20%;
  }
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper ul.skill-wrap li {
  transition: all 1s;
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper ul.skill-wrap li:hover {
  transform: scale(1.5);
  color: #f9f9f9;
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper ul.skill-wrap .active {
  transform: scale(1.5);
  color: #f9f9f9;
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper .number {
  display: inline-block;
  width: 25%;
  height: 50%;
  text-align: center;
  vertical-align: center;
  background-color: black;
  font-size: 18vw;
  color: #f9f9f9;
}
@media screen and (max-width: 767px) {
  section.skill .gradient-wrapper .black-wrapper .skill-wrapper .number {
    height: 20%;
  }
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper .skill-desc {
  display: inline-block;
  width: 25%;
  height: 40%;
  vertical-align: top;
  transition: all 0.5s;
  transform: translateX(-100%);
  opacity: 0;
}
@media screen and (max-width: 767px) {
  section.skill .gradient-wrapper .black-wrapper .skill-wrapper .skill-desc {
    text-align: end;
    width: 100%;
    transform: translateX(100%);
    padding-right: 13%;
  }
}
@media screen and (max-width: 575px) {
  section.skill .gradient-wrapper .black-wrapper .skill-wrapper .skill-desc {
    text-align: end;
    width: 100%;
    transform: translateX(100%);
    padding-right: 13%;
  }
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper .skill-desc ul {
  font-size: 1em;
  color: #ddd;
  padding: 3% 0;
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper .skill-desc ul li {
  padding: 5% 2%;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  section.skill .gradient-wrapper .black-wrapper .skill-wrapper .skill-desc ul li {
    padding: 1.5% 2%;
    line-height: 1;
  }
}
@media screen and (max-width: 440px) {
  section.skill .gradient-wrapper .black-wrapper .skill-wrapper .skill-desc ul li {
    padding: 5% 2%;
    line-height: 1.3;
  }
}
section.skill .gradient-wrapper .black-wrapper .skill-wrapper .skill-desc.active {
  transform: translateX(0);
  opacity: 1;
}
section.skill .gradient-wrapper .black-wrapper .row-line {
  width: 2px;
  height: 100%;
  right: 12vw;
  top: 0;
  position: absolute;
  background: linear-gradient(#fbb97d, #f8857d);
  opacity: 0.5;
}
section.skill .gradient-wrapper .black-wrapper .col-line {
  width: 55%;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 20vh;
  background: linear-gradient(#e2c57b, #ef7e79);
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  section.skill .gradient-wrapper .black-wrapper .col-line {
    bottom: 10%;
  }
}
section.skill .gradient-wrapper .black-wrapper .block {
  width: 3vw;
  height: 30vh;
  position: absolute;
  right: 0;
  bottom: 33vh;
  background: #22ffcc;
}
section.skill .gradient-wrapper .black-wrapper .desc {
  position: absolute;
  left: 45vw;
  top: 77vh;
  width: 40%;
  font-size: 1.825vw;
  font-weight: 300;
  line-height: 1.3;
  color: #bbb;
  opacity: 0;
  transform: translateY(300%);
  transition: all 0.35s;
}
@media screen and (max-width: 767px) {
  section.skill .gradient-wrapper .black-wrapper .desc {
    top: 92%;
    left: 45%;
  }
}
section.skill .gradient-wrapper .black-wrapper .desc.active {
  opacity: 1;
  transform: translateY(0);
}
section.skill .gradient-wrapper .black-wrapper .page {
  position: absolute;
  color: #bbb;
  font-size: 1vw;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  right: 7vw;
  top: 78vh;
}
@media screen and (max-width: 767px) {
  section.skill .gradient-wrapper .black-wrapper .page {
    top: 88vh;
    right: 5vw;
  }
}
@media screen and (max-width: 575px) {
  section.skill .gradient-wrapper .black-wrapper .page {
    right: 3vw;
  }
}
section.skill .gradient-wrapper .black-wrapper .page .pre {
  font-size: 3vw;
  padding-right: 1.5vh;
  border-right: 1px solid rgba(34, 255, 204, 0.3);
}
section.skill .gradient-wrapper .black-wrapper .page .after {
  padding-left: 0.7vw;
}

section.portfolio {
  z-index: 8;
}
section.portfolio .video-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}
section.portfolio .video-wrap video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}
section.portfolio .video-wrap .black-wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
section.portfolio .video-wrap .black-wrapper .navi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 2vh auto;
  color: #bbb;
  font-size: 1vw;
  cursor: pointer;
}
section.portfolio .video-wrap .black-wrapper .navi .about {
  padding-right: 3vw;
}
section.portfolio .video-wrap .black-wrapper .navi .about::before {
  padding-right: 1vw;
  content: "<";
}
section.portfolio .video-wrap .black-wrapper .navi .skill {
  padding: 2vh 1vw;
  font-size: 3vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
section.portfolio .video-wrap .black-wrapper .navi .portfolio {
  padding-left: 3vw;
}
section.portfolio .video-wrap .black-wrapper .navi .portfolio::after {
  padding-left: 1vw;
  content: ">";
}
section.portfolio .video-wrap .black-wrapper .button-wrap {
  margin: 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 1.5vw;
  width: 100%;
}
section.portfolio .video-wrap .black-wrapper .button-wrap .button {
  margin: 0 1.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 3%;
  transform: scale(0.5);
  font-size: 0.5em;
  font-weight: 300;
  color: #ddd;
  padding: 1% 5%;
  border: 2px solid #bbb;
  border-radius: 50px;
  opacity: 0.8;
  letter-spacing: 0.2vw;
  cursor: pointer;
  transition: all 0.5s;
}
@media screen and (max-width: 767px) {
  section.portfolio .video-wrap .black-wrapper .button-wrap .button {
    padding: 2% 6%;
  }
}
@media screen and (max-width: 575px) {
  section.portfolio .video-wrap .black-wrapper .button-wrap .button {
    padding: 2% 10%;
  }
}
section.portfolio .video-wrap .black-wrapper .button-wrap .button.active {
  font-size: 1em;
  font-weight: 400;
  transform: scale(0.8);
  border: none;
  color: #777;
  background-color: rgba(255, 255, 255, 0.8);
}
section.portfolio .video-wrap .black-wrapper .swiper-container {
  text-align: center;
  width: 100%;
  height: 45%;
  border: 1px solid #ccc;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper {
  width: 100%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide {
  transform: scale(0.6);
  border: 1px solid #ccc;
  text-align: center;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-img {
  display: inline-block;
  width: 65%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(198, 255, 221, 0.3);
  color: rgba(0, 0, 0, 0);
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-img img {
  width: 100%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-title {
  display: inline-block;
  width: 65%;
  padding: 1vh;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
  border-bottom: 1px solid rgba(198, 255, 221, 0.3);
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 2%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-title {
  text-align: end;
  width: 20%;
  opacity: 0.8;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-title {
    width: 30%;
  }
}
@media screen and (max-width: 575px) {
  section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-title {
    width: 40%;
  }
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-title p {
  padding-bottom: 15%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-title p:nth-child(2) {
  padding-bottom: 72%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-desc {
  opacity: 0.5;
  text-align: left;
  width: 50%;
  font-size: 0.5em;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-desc p {
  padding-bottom: 6%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-desc p:nth-child(2) {
  padding-bottom: 4%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-desc p:nth-child(2)::before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: "";
  background-color: #C6FFDD;
  margin-right: 8px;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-desc p:nth-child(3) {
  padding-bottom: 4%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-desc p:nth-child(3)::before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: "";
  background-color: #FBD786;
  margin-right: 8px;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-desc p:nth-child(4) {
  padding-bottom: 7%;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide .slide-sub-wrap .slide-sub-desc p:nth-child(4)::before {
  display: inline-block;
  width: 13px;
  height: 13px;
  content: "";
  background-color: #f7797d;
  margin-right: 8px;
}
section.portfolio .video-wrap .black-wrapper .swiper-container .swiper-wrapper .swiper-slide.active {
  transform: scale(1);
}
section.portfolio .video-wrap .black-wrapper .page {
  padding-top: 3vh;
  color: #bbb;
  font-size: 1vw;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}
section.portfolio .video-wrap .black-wrapper .page .pre {
  font-size: 3vw;
  padding-right: 1.5vh;
  border-right: 1px solid rgba(34, 255, 204, 0.3);
  transition: all 0.5s;
  transform: translateY(0);
}
section.portfolio .video-wrap .black-wrapper .page .after {
  padding-left: 0.7vw;
  transition: all 0.5s;
  transform: translateY(300%);
}
section.portfolio .video-wrap .black-wrapper .page:hover .pre {
  transform: translateY(0);
}
section.portfolio .video-wrap .black-wrapper .page:hover .after {
  transform: translateY(0);
}

section.contact {
  z-index: 7;
}
section.contact .black-wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}
section.contact .black-wrapper .navi {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #bbb;
  margin: 2vh 0;
  font-size: 1vw;
  cursor: pointer;
}
section.contact .black-wrapper .navi .about {
  padding-right: 3vw;
}
section.contact .black-wrapper .navi .about::before {
  padding-right: 1vw;
  content: "<";
}
section.contact .black-wrapper .navi .skill {
  padding: 2vh 1vw;
  font-size: 3vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
section.contact .black-wrapper .navi .portfolio {
  padding-left: 3vw;
}
section.contact .black-wrapper .navi .portfolio::after {
  padding-left: 1vw;
  content: ">";
}
section.contact .black-wrapper .page {
  position: absolute;
  color: #bbb;
  font-size: 1vw;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: 1vw;
  top: 50%;
  transform: translateY(-50%);
}
section.contact .black-wrapper .page .pre {
  font-size: 3vw;
  padding-right: 1.5vh;
  border-right: 1px solid rgba(34, 255, 204, 0.3);
}
section.contact .black-wrapper .page .after {
  padding-left: 0.7vw;
}
section.contact .black-wrapper .inner {
  width: 100%;
  height: 100vh;
  position: relative;
}
section.contact .black-wrapper .inner .contact-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 52%;
  color: #f9f9f9;
  font-size: 3vw;
  font-weight: 300;
}
section.contact .black-wrapper .inner .contact-wrap .number {
  color: #555;
  margin-bottom: 2vh;
}
section.contact .black-wrapper .inner .contact-wrap .title {
  margin-bottom: 3vh;
}
section.contact .black-wrapper .inner .contact-wrap a {
  font-size: 2vw;
  color: #777;
  padding: 0.5vw 6vw;
  text-align: center;
  border: 1px solid #777;
}
section.contact .black-wrapper .inner .pentagon img.pentagon01 {
  position: absolute;
  width: 7vw;
  top: 12vh;
  left: 10vw;
}
section.contact .black-wrapper .inner .pentagon .pentagon02 {
  width: 3.5vw;
  position: absolute;
  top: 20vh;
  left: 38vw;
}
section.contact .black-wrapper .inner .pentagon .pentagon03 {
  width: 20vw;
  position: absolute;
  top: 30vh;
  left: 16vw;
}
@media screen and (max-width: 767px) {
  section.contact .black-wrapper .inner .pentagon .pentagon03 {
    width: 25vw;
    top: 35vh;
  }
}
@media screen and (max-width: 575px) {
  section.contact .black-wrapper .inner .pentagon .pentagon03 {
    width: 30vw;
    top: 40vh;
  }
}
section.contact .black-wrapper .inner .pentagon .pentagon04 {
  width: 4vw;
  position: absolute;
  bottom: 12vh;
  left: 14vw;
}
section.contact .black-wrapper .inner .pentagon .pentagon05 {
  width: 6vw;
  position: absolute;
  top: 12vh;
  right: 15vw;
}
section.contact .black-wrapper .inner .pentagon .pentagon06 {
  width: 3vw;
  position: absolute;
  bottom: 26vh;
  right: 43vw;
}
section.contact .black-wrapper .inner .pentagon .pentagon07 {
  width: 5vw;
  position: absolute;
  bottom: 15vh;
  right: 20vw;
}
section.contact .black-wrapper .inner .message-icon img {
  width: 14vw;
  position: absolute;
  top: 40vh;
  left: 20vw;
}
@media screen and (max-width: 767px) {
  section.contact .black-wrapper .inner .message-icon img {
    width: 20vw;
    top: 45vh;
  }
}
@media screen and (max-width: 575px) {
  section.contact .black-wrapper .inner .message-icon img {
    width: 25vw;
  }
}
section.contact .black-wrapper .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 3vw;
  font-size: 3vw;
  color: #f9f9f9;
  cursor: pointer;
  transition: all 1s;
}
section.contact .black-wrapper .next i.next-active {
  display: none;
}
section.contact .black-wrapper .next:hover {
  transform: translate(20%, -50%);
}

#container {
  perspective: 30px;
}

#inner {
  transition: transform 0.5s;
}

/* http://narrowdesign.com/ */
/*****************반응형**********************/

/*# sourceMappingURL=index.css.map */
