@import './common';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
//font-family: 'Oswald', sans-serif;
//gradient #C6FFDD #FBD786 #f7797d
// main-div green: #607b5a 12:36: #7b9775 red: #e43e3b  hover: #82322d scroll: #281315 line: 22ffcc
//skill #281315

html, body {
  font-family: 'Oswald', sans-serif;
}

section.main{
  transform-origin: left bottom;

  .gradient-wrapper{
  background: $colorGradient;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .black-wrapper{
    margin: 1%;
    width: 98%;
    height: 96%;
    position: relative;
    display: grid;
    gap: 2px;
    grid-template-areas:
    "menu title title title title title"
		"menu port port port scroll scroll"
		"menu port port port scroll scroll"
		"menu port port port next next";
    
    .black-div{
      @include bgDark(.85);
      transition: all .5s;
      &:hover{
        border-radius: 1.5vw;
      }
    }
    .menu-wrap{
      grid-area: menu;
      position: relative;
      .logo-wrap{
        position: absolute;
        background-color: $colorWhite;
        border-radius: 50%;
        color: #607b5a;
        font-size: 3vw;
        font-weight: 700;
        line-height: 1.1;
        padding: .5em .8em;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        top: 2vh;
      }
      .menu{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $colorWhite;
        font-size: 1.5vw;
        font-weight: 300;
        line-height: 3.5;
        li{
          &::before{
            display: inline-block;
            content: '';
            background-color: $colorWhite;
            width: .7vw;
            height: .7vw;
            margin: 0 1.5vw .5vh 0;
          }
        }
      }
    }
    .title-wrap{
      grid-area: title;
      position: relative;
      .block{
        position: absolute;
        width: 13.5vw;
        height: 2vh;
        background-color: #607b5a;
        left: 12.5vw;
      }
      .title{
        position: absolute;
        font-size: 7vw;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 0 0 2.5vw;
        color: $colorWhite;
        font-weight: 500;
      }
      .time{
        position: absolute;
        -webkit-text-stroke: 2px #7b9775;
        color: rgba($color: #000000, $alpha: 0);
        font-size: 7vw;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 3vw;
        
      }

      
    }
    .port-wrap{
      grid-area: port;
      position: relative; 
      ul{
        position: absolute;
        color: $colorWhite;
        font-size: 5vw;
        font-weight: 400;
        top: 50%;
        transform: translateY(-50%);
        li{
          text-align: end;
          margin: 7vh 0;
          h3{
            padding-left: 7.5vw;
            border-bottom: 1px solid #22ffcc;
          }
          p{
            font-size: .7vw;
            color: rgba($color: #fff, $alpha: 0.5);
          }
        }
        
      }
      .block{
        position: absolute;
        width: 11vw;
        height: 1.75vh;
        background-color: #607b5a;
        bottom: 0;
        right: 0;
      }
    }
    .scroll-wrap{
      grid-area: scroll;
      position: relative;
      h3{
        position: absolute;
        -webkit-text-stroke: 1px $colorWhite;
        color: rgba($color: #000000, $alpha: 0);
        font-size: 4vw;
        top: 3vh;
        left: 3vw;
        z-index: 3;
      }
      .block{
        position: absolute;
        width: 13vw;
        height: 6vh;
        background-color: rgba($color: #281315, $alpha: .8);
        top: 7vh;
        left: 2vw;
        z-index: 2;
      }
      .video{
        position: absolute;
        border: 2px solid $colorLight;
        width: 20vw;
        height: 30vh;
        top: 10vh;
        left: 5vw;
        z-index: 1;
      }
      .navi{
        position: absolute;
        color: $colorLight;
        font-size: 1vw;
        font-weight: 300;
        @include flex($FE, $FE);
        bottom: 0;
        right: 0;
        margin: 2vh 1vw;
        .pre{
          font-size: 3vw;
          padding-right: 1.5vh;
          border-right: 1px solid rgba($color: #22ffcc, $alpha: 0.3);
        }
        .after{
          padding-left: .7vw;
        }
      }

    }
    .next-wrap{
      grid-area: next;
      position: relative;
      img{
        position: absolute;
        right: 0;
        height: 100%;
        padding: 3vw;
        background-color: #e43e3b;
        transition: all .5s;
        &:hover{
          border-radius: 0 25px 25px 0;
        }
      }
    }
  }
  }
}

section.skill{
  .gradient-wrapper{
    background: $colorGradient;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .black-wrapper{
        margin: 1%;
        width: 98%;
        height: 96%;
      position: relative;
      @include bgDark(.85);
      ul{
        position: absolute;
        color: $colorLight;
        font-size: 3em;
        margin-left: 10%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        line-height: 1.5;
        li.active{
          font-size: 2.5em;
          color: $colorWhite;
        }
      }
      .navi{
      position: absolute;
      @include flex($SA, baseline);
      left: 50%;
      transform: translateZ(-50%);
      color: $colorLight;
      margin: 3em 0;
      .about{ 
        &::before{
          padding-right: 1em;
          content: '<';
        }
      }
      .skill{
        padding: 0 1.5em;
        font-size: 3em;
      }
      .portfolio{
        &::after{
          padding-left: 1em;
          content: '>';
        }
      }
      }
      .row-line{

      }
    }
  }
}
//http://narrowdesign.com/