@import './common';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
//font-family: 'Oswald', sans-serif;
//gradient #C6FFDD #FBD786 #f7797d
// main-div green: #607b5a 12:36: #7b9775 red: #e43e3b  hover: #82322d scroll: #281315 line: 22ffcc
//skill #22ffcc

html, body {
  font-family: 'Oswald', sans-serif;
}

.gnb-wrapper {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  > section {
    //position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: left bottom;
    transition: transform 2s;
    &.active {
      transform: rotate(-180deg);
    }
  }
}

section.main{
  z-index: 10;
  transform-origin: left bottom;

  .gradient-wrapper{
  background: $colorGradient;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .black-wrapper{
    margin: 1%;
    width: 98%;
    height: 96%;
    position: relative;
    display: grid;
    gap: 2px;
    grid-template-areas:
    "menu title title title title title"
		"menu port port port scroll scroll"
		"menu port port port scroll scroll"
		"menu port port port next next";
    
    .black-div{
      @include bgDark(.85);
      transition: all .5s;
      &:hover{
        border-radius: 1.5vw;
      }
    }
    .menu-wrap{
      grid-area: menu;
      position: relative;
      .logo-wrap{
        position: absolute;
        background-color: $colorWhite;
        border-radius: 50%;
        color: #607b5a;
        font-size: 3vw;
        font-weight: 700;
        line-height: 1.1;
        padding: .5em .8em;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        top: 2vh;
      }
      .menu{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $colorWhite;
        font-size: 1.5vw;
        font-weight: 300;
        line-height: 1;
        cursor: pointer;
        li{
          // border: solid red 1px;
          margin: 6vh 0;
          transition: all .5s ease-out;
          background: linear-gradient(to left, rgba($color: #22ffcc, $alpha: 0) 50%, #82322d 50%) right;
          background-size: 200%;
          // background: linear-gradient(rgba($color: #000000, $alpha: 0) 50%, #82322d 50%);
          &:hover{
            background-position: left;

          
          }
          &::before{
            display: inline-block;
            content: '';
            background-color: $colorWhite;
            width: .7vw;
            height: 2.9vh;
            margin-right: 1.5vw;
          }
        }
      }
    }
    .title-wrap{
      grid-area: title;
      position: relative;
      .block{
        position: absolute;
        width: 13.5vw;
        height: 2vh;
        background-color: #607b5a;
        left: 12.5vw;
      }
      .title{
        position: absolute;
        font-size: 7vw;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 0 0 2.5vw;
        color: $colorWhite;
        font-weight: 500;
      }
      .time{
        position: absolute;
        -webkit-text-stroke: 2px #7b9775;
        color: rgba($color: #000000, $alpha: 0);
        font-size: 7vw;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 3vw;
        
      }

      
    }
    .port-wrap{
      grid-area: port;
      position: relative; 
      ul{
        position: absolute;
        color: $colorWhite;
        font-size: 5vw;
        font-weight: 400;
        top: 50%;
        transform: translateY(-50%);
        li{
          text-align: end;
          margin: 7vh 0;
          h3{
            transition: all 1s;
            padding-left: 7.5vw;
            cursor: pointer;
            &::after{
              position: absolute;
              content: url(../img/arrow-right.png);
              opacity: 0;
              transition: all .35s;
            }
            &:hover{
              transform: translateX(3vw);
              &::after {
                opacity: 1;
              }
            }
          }
          p{
            font-size: .7vw;
            color: rgba($color: #fff, $alpha: 0.5);
            padding-left: 7.5vw;
            border-top: 1px solid #22ffcc;
          }
        }
        
      }
      .block{
        position: absolute;
        width: 11vw;
        height: 1.75vh;
        background-color: #607b5a;
        bottom: 0;
        right: 0;
      }
    }
    .scroll-wrap{
      grid-area: scroll;
      position: relative;
      h3{
        position: absolute;
        -webkit-text-stroke: 1px $colorWhite;
        color: rgba($color: #000000, $alpha: 0);
        font-size: 4vw;
        top: 3vh;
        left: 3vw;
        z-index: 3;
      }
      .block{
        position: absolute;
        width: 13vw;
        height: 6vh;
        background-color: rgba($color: #281315, $alpha: .8);
        top: 7vh;
        left: 2vw;
        z-index: 2;
      }
      .video{
        position: absolute;
        border: 2px solid $colorLight;
        width: 20vw;
        height: 30vh;
        top: 10vh;
        left: 5vw;
        z-index: 1;
      }
      .page{
        position: absolute;
        color: $colorLight;
        font-size: 1vw;
        font-weight: 300;
        @include flex($FE, $FE);
        bottom: 0;
        right: 0;
        margin: 2vh 1vw;
        .pre{
          font-size: 3vw;
          padding-right: 1.5vh;
          border-right: 1px solid rgba($color: #22ffcc, $alpha: 0.3);
        }
        .after{
          padding-left: .7vw;
        }
      }

    }
    .next-wrap{
      grid-area: next;
      position: relative;
      cursor: pointer;
      img{
        position: absolute;
        right: 0;
        height: 100%;
        padding: 3vw;
        background-color: #e43e3b;
        transition: all .5s;
        &:hover{
          padding: 6vw 0 0 6vw;
        }
      }
    }
  }
  }
}

section.skill{
  z-index: 9;
  .gradient-wrapper{
    background: $colorGradient;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .black-wrapper{
        margin: 1%;
        width: 98%;
        height: 96%;
      position: relative;
      @include bgDark(1);
      ul{
        position: absolute;
        color: $colorLight;
        font-size: 4vw;
        margin-left: 10vw;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        line-height: 1.5;
        cursor: pointer;
        li{
          transition: all 1s;
          &:hover{
            // font-size: 6vw;
            transform: scale(1.5);
            color: $colorWhite;
          }
        }
        .active{
          transform: scale(1.5);
          color: $colorWhite;
        }
      }
      .navi{
      position: absolute;
      @include flex($CT, $CT);
      width: 100%;
      color: $colorLight;
      margin: 5vh 0;
      font-size: 1vw;
      cursor: pointer;
      .about{ 
        &::before{
          padding-right: 1vw;
          content: '<';
        }
      }
      .skill{
        padding: 0 4vw;
        font-size: 3vw;
      }
      .portfolio{
        &::after{
          padding-left: 1vw;
          content: '>';
        }
      }
      }
      .number{
        position: absolute;
        font-size: 15vw;
        color: $colorWhite;
        right: 20vw;
        bottom: 33vh;
      }
      .row-line{
        width: 2px;
        height: 100%;
        position: absolute;
        right: 11vw;
        background: $rowGradient;
        opacity: .5;
      }
      .col-line{
        width: 55%;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: 20vh;
        background: $rowGradient;
        opacity: .5;
      }
      .col-line{
        width: 55%;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: 20vh;
        background: $colGradient;
        opacity: .5;
      }
      .block{
        width: 3vw;
        height: 30vh;
        position: absolute;
        right: 0;
        bottom: 33vh;
        background: #22ffcc;
      }

      .desc{
        position: absolute;
        left: 45vw;
        top: 77vh;
        width: 40%;
        font-size: 1.825vw;
        font-weight: 300;
        line-height: 1.3;
        color: $colorLight;
      }
      .page{
        position: absolute;
        color: $colorLight;
        font-size: 1vw;
        font-weight: 300;
        @include flex($FS, $FE);
        right: 7vw;
        top: 78vh;
        .pre{
          font-size: 3vw;
          padding-right: 1.5vh;
          border-right: 1px solid rgba($color: #22ffcc, $alpha: 0.3);
        }
        .after{
          padding-left: .7vw;
        }
      }
    }
  }
}

section.portfolio{
  z-index: 8;
  .black-wrapper{
    width: 100%;
    height: 100vh;
    @include bgDark(.2);
    position: relative;
    .button-wrap{
      position: absolute;
      left: 50%;
      transform:translateX(-50%);
      .button{
        font-size: 2vw;
        padding: .7vh 1vw;
        @include bgDark(.6);
        display: inline-block;
        border-radius: 50px;
        margin: 5vh 3vw;
      }
      .button.active{
        @include bgDark(.2);
      }
    }
      .slide-wrapper{

        .slide-wrap{
          position: absolute;
          display: inline-block;
          top: 25vh;
          left: 50%;
          transform: translateX(-50%);
          .slide{
          }
        }
      }

    // .slide-wrapper{
    //   width: 100%;
    //   height: 100%;
    //   text-align: center;
    //   padding-top: 20vh;
    //   border: 1px solid blue;
      
    //   .slide-wrap{ 
    //     display: inline-block;
    //     margin: 0 7vw;
    //     border: 1px solid red;
        
    //     .slide-img {
    //       z-index: 1;
    //     }
    //     .slide-desc{
    //       z-index: 0;
    //       height: 5vh;
    //       @include bgDark(.3);
    //     }
    //     .slide-desc.active{
    //       @include bgDark(.8);
    //     }
    //   }
    // }
  }
}

//https://www.raoul-gaillard.com/work
section.contact{
  z-index: 7;
  .black-wrapper{
    width: 100%;
    height: 100vh;
    @include bgDark(1);
    position: relative;
    .page{
    position: absolute;
    color: $colorLight;
    font-size: 1vw;
    font-weight: 300;
    @include flex($FS, $FE);
    margin-left: 1vw;
    top: 50%;
    transform: translateY(-50%);
    .pre{
      font-size: 3vw;
      padding-right: 1.5vh;
      border-right: 1px solid rgba($color: #22ffcc, $alpha: 0.3);
    }
    .after{
      padding-left: .7vw;
    }
    }

      .inner{
        width: 100%;
        height: 100vh;
        position: relative;
        .contact-wrap{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 52%;
          color: $colorWhite;
          font-size: 3vw;
          font-weight: 300;
          .number{
            color: $colorDark;
            margin-bottom: 2vh;
          }
          .title{
            margin-bottom: 3vh;
          }
          a{
            font-size: 2vw;
            color: $colorGray;
            padding: .5vw 6vw;
            text-align: center;
            border: 1px solid $colorGray;
          }
        }
    
        .pentagon{
          img.pentagon01{
          position: absolute;
          width: 7vw;
          top: 12vh;
          left: 10vw;
          }
          .pentagon02{
          width: 3.5vw;
          position: absolute;
          top: 20vh;
          left: 38vw;
          }
          .pentagon03{
          width: 20vw;
          position: absolute;
          top: 30vh;
          left: 16vw;
          }
          .pentagon04{
          width: 4vw;
          position: absolute;
          bottom: 12vh;
          left: 14vw;
          }
          .pentagon05{
          width: 6vw;
          position: absolute;
          top: 12vh;
          right: 15vw;
          }
          .pentagon06{
          width: 3vw;
          position: absolute;
          bottom: 26vh;
          right: 43vw;
          }
          .pentagon07{
          width: 5vw;
          position: absolute;
          bottom: 15vh;
          right: 20vw;
          }
        }
        .message-icon{
          img{
            width: 14vw;
            position: absolute;
            top: 40vh;
            left: 20vw;
          }
        }

      } 
    .next{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      margin-right: 2vw;
      font-size: 3vw;
      color: $colorWhite;
      cursor: pointer;
      transition: all 1s;
      i.next-active{
        display: none;
      }
      &:hover{
        margin-right: .5vw;
      }
    }
  }
}

#container {
  perspective: 30px;
}

#inner {
  transition: transform 0.5s;
}
//http://narrowdesign.com/