@import './common';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
//font-family: 'Oswald', sans-serif;
//gradient #C6FFDD #FBD786 #f7797d
// main-div green: #607b5a 12:36: #7b9775 red: #e43e3b  hover: #82322d scroll: #281315 line: 22ffcc
//skill #22ffcc

html, body {
  font-family: 'Oswald', sans-serif;
}


// .section {overflow: hidden; width: 100%; height: 100vh; top: 0; left: 0; position: fixed;}

.gnb-wrapper {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  > section {
    //position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: left bottom;
    transition: transform 2s;
    &.active {
      transform: rotate(-180deg);
    }
  }
}

section.main{
  z-index: 10;
  transform-origin: left bottom;

  .gradient-wrapper{
  background: $colorGradient;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .black-wrapper{
    margin: 1%;
    width: 98%;
    height: 96%;
    position: relative;
    display: grid;
    gap: 2px;
    grid-template-areas:
    "menu title title title title title"
		"menu port port port scroll scroll"
		"menu port port port scroll scroll"
		"menu port port port next next";
    @include SM{
      grid-template-areas:
      "menu title title title"
      "menu port port port"
      "menu port port port"
      "menu port port port"
      "menu port port port"
      "menu next next next";
    }

    .black-div{
      @include bgDark(.85);
      transition: all .5s;
      &:hover{
        border-radius: 3vw;
        .port-wrap{
          .block{
            transform: translateX(-30px);
          }
        }
      }
    }
    .menu-wrap{
      grid-area: menu;
      position: relative;
      .logo-wrap{
        position: absolute;
        background-color: $colorWhite;
        border-radius: 50%;
        color: #607b5a;
        font-size: 3vw;
        font-weight: 700;
        line-height: 1.1;
        padding: .5em .8em;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        top: 2vh;
        @include XS{
          font-size: 3.5vw;
          padding: 1em 1.2em;
        }
      }
      .menu{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $colorWhite;
        font-size: 1.5vw;
        font-weight: 300;
        line-height: 1;
        cursor: pointer;
        @include SM{
          font-size: 3vw;
        }
        li{
          // border: solid red 1px;
          margin: 6vh 0;
          transition: all .5s ease-out;
          background-image: linear-gradient(to left, rgba($color: #22ffcc, $alpha: 0) 50%, #82322d 50%);
          background-position: 99%;
          background-size: 200%;
          // background: linear-gradient(rgba($color: #000000, $alpha: 0) 50%, #82322d 50%);
          &:hover{
            background-position: 0;
          }
          &::before{
            display: inline-block;
            content: '';
            background-color: $colorWhite;
            width: .7vw;
            height: 3.2vh;
            margin-right: 1.5vw;
          }
        }
      }
      .page{
        position: absolute;
        color: $colorLight;
        font-size: 1vw;
        font-weight: 300;
        @include flex($FE, $FE);
        bottom: 0;
        right: 0;
        margin: 2vh 1vw;
        overflow: hidden;
        .pre{
          font-size: 3vw;
          padding-right: 1.5vh;
          border-right: 1px solid rgba($color: #22ffcc, $alpha: 0.3);
          transition: all .5s;
          transform: translateY(-300%);
        }
        .after{
          padding-left: .7vw;
          transition: all .5s;
          transform: translateY(300%);
        }
        &:hover{
          .pre{
            transform: translateY(0);
          }
          .after{
            transform: translateY(0);
          }
        }
      }

    }
    .title-wrap{
      grid-area: title;
      position: relative;
      .block{
        position: absolute;
        width: 13.5vw;
        height: 2vh;
        background-color: #607b5a;
        left: 12.5vw;
      }
      .title{
        position: absolute;
        font-size: 7vw;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 0 0 2.5vw;
        color: $colorWhite;
        font-weight: 500;
        @include SM{
          font-size: 12vw;
        }
      }
      .time{
        position: absolute;
        -webkit-text-stroke: 2px #7b9775;
        color: rgba($color: #000000, $alpha: 0);
        font-size: 7vw;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 3vw;
        
      }

      
    }
    .port-wrap{
      grid-area: port;
      position: relative; 
      ul{
        position: absolute;
        color: $colorWhite;
        font-size: 5vw;
        font-weight: 400;
        top: 50%;
        transform: translateY(-50%);
        @include XS{
          font-size: 10vw;
        }
        li{
          text-align: end;
          margin: 7vh 0;
          h3{
            transition: all 1s;
            padding-left: 7.5vw;
            cursor: pointer;
            &::after{
              position: absolute;
              content: url(../img/arrow-right.png);
              opacity: 0;
              transition: all .35s;
            }
            &:hover{
              transform: translateX(3vw);
              &::after {
                opacity: 1;
              }
            }
          }
          p{
            font-size: .7vw;
            color: rgba($color: #fff, $alpha: 0.5);
            padding-left: 7.5vw;
            border-top: 1px solid #22ffcc;
          }
        }
        
      }
      .block{
        position: absolute;
        width: 11vw;
        height: 1.75vh;
        background-color: #607b5a;
        bottom: 0;
        right: 0;
        @include SM{
          display: none;
        }
      }
    }
    .scroll-wrap{
      grid-area: scroll;
      position: relative;
      @include SM{
        display: none;
      }
      
      h3{
        position: absolute;
        -webkit-text-stroke: 1px $colorWhite;
        color: rgba($color: #000000, $alpha: 0);
        font-size: 4vw;
        z-index: 3;
      }
      .block{
        position: absolute;
        width: 13vw;
        height: 6vh;
        background-color: rgba($color: #281315, $alpha: .8);
        z-index: 2;
        top: 5%;
      }
      .video{
        position: absolute;
        // border: 2px solid $colorLight;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        transition: all .5s;
        &:hover{
          border-radius: 3vw;
        }
        video{
          object-fit: cover;
          width: 100%; height: 100%;
          }
      }

    }
    .next-wrap{
      grid-area: next;
      position: relative;
      cursor: pointer;
      // @include XS{
      //   display: none;
      // }
      img{
        position: absolute;
        right: 0;
        height: 100%;
        padding: 3vw;
        background-color: #e43e3b;
        transition: all .5s;
        &:hover{
          padding: 6vw 0 0 6vw;
        }
      }
    }
  }
  }
}

section.skill{
  z-index: 9;
  .gradient-wrapper{
    background: $colorGradient;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .black-wrapper{
        margin: 1%;
        width: 98%;
        height: 96%;
      position: relative;
      
      @include bgDark(1);
      .navi{
        // position: absolute;
        @include flex($CT, $CT);
        width: 50%;
        margin: auto;
        color: $colorLight;
        padding: 5vh 0;
        font-size: 1vw;
        cursor: pointer;
        .about{ 
          padding-right: 3vw;  
          &::before{
            padding-right: 1vw;
            content: '<';
          }
        }
        .skill{
          padding: 2vh 1vw;
          font-size: 3vw;
          border-bottom:1px solid rgba($color: #fff, $alpha: .3) ;
        }
        .portfolio{
          padding-left: 3vw;
          &::after{
            padding-left: 1vw;
            content: '>';
          }
        }
        }
      .skill-wrapper{
        width: 100%;
        height: 100%;
        margin-top: 6%;
        // @include SM{
        //   margin-top: 13%;
        // }
        // @include XS{
        //   margin-top: 25%;
        // }
        ul.skill-wrap{
          display: inline-block;
          width: 25%;
          height: 50%;
          margin-left: 10vw;
          color: $colorLight;
          font-size: 4vw;
          text-align: center;
          line-height: 1.5;
          cursor: pointer;
          @media screen and (max-width: 830px) {
            width: 50%;
            margin-top: 10%;
            height: 20%;
            // border: 1px solid #ccc;
          }
          @include SM{
            margin-top: 20%;
          }
                  li{
            transition: all 1s;
            &:hover{
              transform: scale(1.5);
              color: $colorWhite;
            }
          }
          .active{
            transform: scale(1.5);
            color: $colorWhite;
          }
        }
        .number{
          display: inline-block;
          width: 25%;
          height: 50%;
          text-align: center;
          vertical-align: center;
          background-color: black;
          font-size: 18vw;
          color: $colorWhite;
          @media screen and (max-width: 830px) {
            height: 20%;
          }
        }
        .skill-desc{
          display: inline-block;
          width: 25%;
          height: 30%;
          vertical-align: top;
          @media screen and (max-width: 830px) {
            width: 100%;
          }
          @include SM{
            width: 100%;
          }
          // border: 1px solid #ccc;
          ul{
            font-size: 1.3vw;
            color: $colorLighter;
            padding: 3% 0;
            transition: all .5s;
            transform: translateX(-100%);
            opacity: 0;
            &.active{
              transform: translateX(0);
              opacity: 1;
            }
              @media screen and (max-width: 830px) {
                text-align: end;
                width: 100%;
                transform: translateX(100%);
                padding-right: 13%;
                // border: 1px solid #ccc;
              }
              // @include SM{
                // text-align: end;
                // width: 100%;
                // transform: translateX(100%);
                // padding-right: 13%;
              // }
            li{
              padding: 5% 2%;
              line-height: 1.3;
              p{
                font-size: 1vw;
              }
              @include MD{
                padding: 1.5% 2%;
                line-height: 1;
              }
              @media screen and (max-width: 440px) {
                padding: 5% 2%;
                line-height: 1.3;
              }
              // @include XS{
              //   padding: 5% 2%;
              //   line-height: 1.3;
              // }

              // &::before{
              //   display: inline-block;
              //   width: 13px;
              //   height: 13px;
              //   content: '';
              //   background-color: #C6FFDD;
              //   margin-right: 8px;
              // }
            }
          }

        }
      }
      .row-line{
        width: 2px;
        height: 100%;
        right: 12vw;
        top: 0;
        position: absolute;
        background: $rowGradient;
        opacity: .5;
      }
      .col-line{
        width: 55%;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: 20vh;
        background: $colGradient;
        opacity: .5;
        @include SM{
          bottom: 10%;
        }
      }
      .block{
        width: 3vw;
        height: 30vh;
        position: absolute;
        right: 0;
        bottom: 33vh;
        background: #22ffcc;
      }

      .desc{
        position: absolute;
        left: 45vw;
        top: 77vh;
        width: 40%;
        font-size: 1.825vw;
        font-weight: 300;
        line-height: 1.3;
        color: $colorLight;
        opacity: 0;
        transform: translateY(300%);
        transition: all .35s;
        @include SM{
          top: 92%;
          left: 45%;
        }
        &.active {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .page{
        position: absolute;
        color: $colorLight;
        font-size: 1vw;
        font-weight: 300;
        @include flex($FS, $FE);
        right: 7vw;
        top: 78vh;
        @include SM{
          top: 88vh;
          right: 5vw;
        }
        @include XS{
          right: 3vw;
        }
        .pre{
          font-size: 3vw;
          padding-right: 1.5vh;
          border-right: 1px solid rgba($color: #22ffcc, $alpha: 0.3);
        }
        .after{
          padding-left: .7vw;
        }
      }
    }
  }
}

section.portfolio{
  z-index: 8;
  .video-wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    video{
      object-fit: cover;
      width: 100%; height: 100%;
      opacity: .5;
      position: absolute;
      }
    .black-wrapper{
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100vh;
      @include bgDark(.8);
      .navi{
        // position: absolute;
        @include flex($CT, $CT);
        width: 50%;
        margin: 2vh auto;
        // margin: auto;
        color: $colorLight;
        font-size: 1vw;
        cursor: pointer;
        .about{ 
          padding-right: 3vw;  
          &::before{
            padding-right: 1vw;
            content: '<';
          }
        }
        .skill{
          padding: 2vh 1vw;
          font-size: 3vw;
          border-bottom:1px solid rgba($color: #fff, $alpha: .3) ;
        }
        .portfolio{
          padding-left: 3vw;
          &::after{
            padding-left: 1vw;
            content: '>';
          }
        }
        }
      .button-wrap{
        margin: 1% 0;
        @include flex($CT, $CT);
        padding-right: 1.5vw;
        width: 100%;
        .button{
          margin: 0 1.3%;
          @include flex($CT, $CT);
          width: 3%;
          transform: scale(.5);
          font-size: .5em;
          font-weight: 300;
          color: $colorLighter;
          padding: 1% 5% ;
          border: 2px solid $colorLight;
          border-radius: 50px;
          opacity: .8;
          letter-spacing: 0.2vw;
          cursor: pointer;
          transition: all .5s;
          @include SM{
            padding: 2% 6% ;
          }
          @include XS{
            padding: 2% 10% ;
          }
        }
        .button.active{
          font-size: 1em;
          font-weight: 400;
          transform: scale(.8);
          border: none;
          color: $colorGray;
          @include bgLight(.8);
        }
      }

      .swiper-container{
        // margin-top: 5vh;
        // border: 2px solid $colorDark;
            text-align: center;
            width: 100%;
            height: 65vh;
            // border: 1px solid #ccc;
            .swiper-wrapper{
              width: 100%;
              .swiper-slide{
                transition: all .5s;
                transform: scale(.6);
                //width: 33.333%;
                // border: 1px solid #ccc;
                text-align: center;
                @include LG{
                  padding: 10% 0;
                  height: 70vh;
                  transform: scale(.9);
                }
                @include MD{
                  padding-top: 10%;
                  transform: scale(1);
                }
                @include SM{
                  padding-top: 10%;
                }
                @include XS{
                  padding-top: 30%;
                }
                .slide-img{
                  display: inline-block;
                  width: 65%;
                  padding-bottom: 10px;
                  border-bottom: 1px solid rgba($color: #C6FFDD, $alpha: 0.3);
                  color: rgba($color: #000000, $alpha: 0);
                  img{
                    width: 100%;
                  }
                }
                .slide-title{
                  display: inline-block;
                  width: 65%;
                  padding: 1vh;
                  font-size: 1.3em;
                  font-weight: 300;
                  letter-spacing: 2px;
                  color: #fff;
                  border-bottom: 1px solid rgba($color: #C6FFDD, $alpha: 0.3);
                }
                .slide-sub-wrap{
                  color: #fff;
                  font-size: 1em;
                  font-weight: 300;
                  width: 100%;
                  @include flex($CT, baseline);
                  margin-top: 2%;
                  .slide-sub-title{
                    text-align: end;
                    width: 20%;
                    opacity: .8;
                    margin-right: 10px;
                    @include SM{
                      width: 30%;
                    }
                    @include XS{
                      width: 40%;
                    }
                    p{
                      padding-bottom: 15%;
                    }
                    p:nth-child(2){
                      padding-bottom: 72%;
                      @include SM{
                        padding-bottom: 45%;
                      }
                    }
                  }
                  .slide-sub-desc{
                    opacity: .5;
                    text-align: left;
                    width: 50%;
                    font-size: .7em;
                    .sub-color{
                      padding-bottom: 4%;
                      .color{
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        content: '';
                        margin-right: 8px;
                      }
                      p{
                        display: inline-block;
                        padding-bottom: 4%;
                      }
                      p:last-child{
                        padding-bottom: 10%;
                        @include SM{
                          padding-bottom: 8%;
                        }
                      }
                    }
                    p{
                      padding-bottom: 7%;
                      @include SM{
                        padding-bottom: 10%;
                      }
                    }
                    // p:nth-child(2){
                    //   padding-bottom: 4%;

                    //   // &::before{
                    //   //   display: inline-block;
                    //   //   width: 13px;
                    //   //   height: 13px;
                    //   //   content: '';
                    //   //   background-color: #C6FFDD;
                    //   //   margin-right: 8px;
                    //   // }
                    // }
                    // p:nth-child(3){
                    //   padding-bottom: 4%;
                    //   // &::before{
                    //   //   display: inline-block;
                    //   //   width: 13px;
                    //   //   height: 13px;
                    //   //   content: '';
                    //   //   background-color: #FBD786;
                    //   //   margin-right: 8px;
                    //   // }
                    // }
                    // p:nth-child(4){
                    //   padding-bottom: 15%;
                    //   // &::before{
                    //   //   display: inline-block;
                    //   //   width: 13px;
                    //   //   height: 13px;
                    //   //   content: '';
                    //   //   background-color: #f7797d;
                    //   //   margin-right: 8px;
                    //   // }
                    // }
                  }
                }
              &.active{
                transform: scale(1);
              }
              }
              }
          }
          .page{
            padding-top: 3vh;
            color: $colorLight;
            font-size: 1vw;
            font-weight: 300;
            @include flex($CT, $FE);
            overflow: hidden;
            .pre{

              font-size: 3vw;
              padding-right: 1.5vh;
              border-right: 1px solid rgba($color: #22ffcc, $alpha: 0.3);
              transition: all .5s;
              // transform: translateY(-300%);
              transform: translateY(0);
            }
            .after{

              padding-left: .7vw;
              transition: all .5s;
              transform: translateY(300%);
            }
            &:hover{
              .pre{
                transform: translateY(0);
              }
              .after{
                transform: translateY(0);
              }
            }
          }



        //Virtual slides
      // .slide-wrapper{
      //   width: 100%;
      //   height: 100%;
      //   text-align: center;
      //   padding-top: 20vh;
      //   border: 1px solid blue;
        
      //   .slide-wrap{ 
      //     display: inline-block;
      //     margin: 0 7vw;
      //     border: 1px solid red;
          
      //     .slide-img {
      //       z-index: 1;
      //     }
      //     .slide-desc{
      //       z-index: 0;
      //       height: 5vh;
      //       @include bgDark(.3);
      //     }
      //     .slide-desc.active{
      //       @include bgDark(.8);
      //     }
      //   }
      // }
    }
  }
}


section.contact{
  z-index: 7;
  .black-wrapper{
    width: 100%;
    height: 100vh;
    @include bgDark(1);
    position: relative;
    .navi{
      position: absolute;
      @include flex($CT, $CT);
      width: 100%;
      color: $colorLight;
      margin: 2vh 0;
      font-size: 1vw;
      cursor: pointer;
      .about{ 
        padding-right: 3vw;  
        &::before{
          padding-right: 1vw;
          content: '<';
        }
      }
      .skill{
        padding: 2vh 1vw;
        font-size: 3vw;
        border-bottom:1px solid rgba($color: #fff, $alpha: .3) ;
      }
      .portfolio{
        padding-left: 3vw;
        &::after{
          padding-left: 1vw;
          content: '>';
        }
      }
      }
    .page{
    position: absolute;
    color: $colorLight;
    font-size: 1vw;
    font-weight: 300;
    @include flex($FS, $FE);
    margin-left: 1vw;
    top: 50%;
    transform: translateY(-50%);
    .pre{
      font-size: 3vw;
      padding-right: 1.5vh;
      border-right: 1px solid rgba($color: #22ffcc, $alpha: 0.3);
    }
    .after{
      padding-left: .7vw;
    }
    }

      .inner{
        width: 100%;
        height: 100vh;
        position: relative;
        .contact-wrap{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 52%;
          color: $colorWhite;
          font-size: 3vw;
          font-weight: 300;
          .number{
            color: $colorDark;
            margin-bottom: 2vh;
          }
          .title{
            margin-bottom: 3vh;
          }
          a{
            font-size: 2vw;
            color: $colorGray;
            padding: .5vw 6vw;
            text-align: center;
            border: 1px solid $colorGray;
          }
        }
    
        .pentagon{
          img.pentagon01{
          position: absolute;
          width: 7vw;
          top: 12vh;
          left: 10vw;
          }
          .pentagon02{
          width: 3.5vw;
          position: absolute;
          top: 20vh;
          left: 38vw;
          }
          .pentagon03{
          width: 20vw;
          position: absolute;
          top: 30vh;
          left: 16vw;
          @include SM{
            width: 25vw;
            top: 35vh;
          }
          @include XS{
            width: 30vw;
            top: 40vh;
          }
          }
          .pentagon04{
          width: 4vw;
          position: absolute;
          bottom: 12vh;
          left: 14vw;
          }
          .pentagon05{
          width: 6vw;
          position: absolute;
          top: 12vh;
          right: 15vw;
          }
          .pentagon06{
          width: 3vw;
          position: absolute;
          bottom: 26vh;
          right: 43vw;
          }
          .pentagon07{
          width: 5vw;
          position: absolute;
          bottom: 15vh;
          right: 20vw;
          }
        }
        .message-icon{
          img{
            width: 14vw;
            position: absolute;
            top: 40vh;
            left: 20vw;
            @include SM{
              width: 20vw;
              top: 45vh;
            }
            @include XS{
              width: 25vw;
            }
          }
        }

      } 
    .next{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      padding: 3vw;
      font-size: 3vw;
      color: $colorWhite;
      cursor: pointer;
      transition: all 1s;
      i.next-active{
        display: none;
      }
      &:hover{
        transform: translate(20%, -50%);
      }
    }
  }
}

#container {
  perspective: 30px;
}

#inner {
  transition: transform 0.5s;
}

.ex-wrapper{
  display: none;
  section.ex{
    width: 100%;
    height: 100vh;
    .gradient-wrapper{
      background: $colorGradient;
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      .black-wrapper{
        margin: 1%;
        width: 98%;
        height: 96%;
        position: relative;
        @include bgDark(.85);
        ul{
          color: $colorLight;
          padding: 10%;
          font-size: 2.5em;
          li{
            padding: .5em 0;
            &:nth-child(1){
              font-size: .8em;
            }
            &:nth-child(2){
              // font-size: .7em;
              
            }
            &:nth-child(3){
              font-size: .5em;
              line-height: 1.3;

            }
          }
        }
      }
    }
  }
}

/* http://narrowdesign.com/ */

//https://www.raoul-gaillard.com/work